<div class="position-fixed h-100">
    <aside id="layout-menu" class="menu-vertical menu bg-menu-theme h-100">
        <div class="app-brand demo">
            <a href="index.html" class="app-brand-link">
                <span class="app-brand-logo demo">
                    <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">          
                    </svg>
                </span>
                <span class="app-brand-text demo menu-text fw-bolder ms-2" style="text-transform: uppercase;">Ouno
                    Rent</span>
           
        </div>
        <div class="menu-inner-shadow"></div>
        <ul class="menu-inner py-1">
            <!-- Dashboards -->
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div>Anasayfa</div>
                </a>
            <li class="menu-item">
                <a href="" class="menu-link menu-toggle">
                    <i class='menu-icon bx bx-file'></i>
                    <div>İçerik Yönetim</div>
                </a>
                <ul class="menu-sub list-unstyled">
                    <li>
                        <a asp-controller="Slider" asp-action="Sliders" class="menu-link">
                            <i class='menu-icon bx-slider'></i>
                            <div>Sliders</div>
                        </a>
                    </li>
                </ul>
                <ul class="menu-sub list-unstyled">
                    <li>
                        <a asp-controller="Category" asp-action="Index" class="menu-link">
                            <i class="menu-icon bx bx-category"></i>
                            <div>Kategoriler</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="./Slider" class="menu-link">
                    <i class='menu-icon bx bxs-report'></i>
                    <div>Raporlar</div>
                </a>
            </li>
            </li>
            <li class="menu-item">
                <a href="" class="menu-link">
                    <i class='menu-icon bx bxs-package'></i>
                    <div>Ürün Yönetimi</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-user"></i>
                    <div>Kullanıcı Yönetimi</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-support"></i>
                    <div>Müşteri Hizmetleri</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="" class="menu-link">
                    <i class="menu-icon tf-icons bx bxs-star"></i>
                    <div>Kampanyalar</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="" class="menu-link">
                    <i class="menu-icon tf-icons bx bxs-file-blank"></i>
                    <div>Hukuki Metinler</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-check-shield"></i>
                    <div>Rol Yönetimi</div>
                </a>
            </li>
        </ul>
    </aside>
</div>
