@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/Shared/Partials/LayoutPartial/_HeadPartial.cshtml")

<body>

    @RenderBody()

    @await Html.PartialAsync("/Views/Shared/Partials/LayoutPartial/_ScriptPartial.cshtml")

</body>

</html>