@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("/Views/NavbarPartial/_navbarPartial.cshtml")

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Datatable</title>
    <link rel="stylesheet" href="./Slider.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>

    @* #region Slider Datatable *@
    <div class="container" style="border-width: 5px;">
        <div class="row">
            <div cla">
                <a asp-controller="Category" asp-action="AddCategory" class="btn btn-success"
                    style=" width:8%; float: right; margin-top: 5%; margin-right: 10%;">Yeni Ekle</a>
            </div>
        </div>
        <table class="w75">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Kategori Adı</th>
                    <th class="text-center">Menu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>5834028503284</td>
                    <td>Telefonlar</td>
                    <td>
                        <div class="w-75 d-flex gap-3">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal">Düzenle</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Sil</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4532452345</td>
                    <td>Tabletler</td>
                    <td>
                         <div class="w-75 d-flex gap-3">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal">Düzenle</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Sil</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>890234243</td>
                    <td>Akıllı Saatler</td>
                    <td>
                       <div class="w-75 d-flex gap-3">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal">Düzenle</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Sil</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>984983094</td>
                    <td>Akıllı Robotlar</td>
                    <td>
                       <div class="w-75 d-flex gap-3">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal">Düzenle</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Sil</button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
    @* #endregion *@

    @* #region Edit Category *@
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="index.html" method="post" enctype="multipart/form-data" class="formModal">
                        <h1>Kategori</h1>
                        <fieldset>
                            <legend><span class="number">1</span> Kategori Düzenle</legend>
                            <label for="name">Kategori Adı:</label>
                            <input type="text" id="category_name" name="category_name">
                        </fieldset>
                        <button type="submit">Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @* #endregion *@

    <!-- Silme Onay Modalı -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Silme Onayı</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bu öğeyi silmek istediğinize emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Sil</button>
            </div>
        </div>
    </div>
</div>

</body>
