@using OunoRentAdminPanel.Models.EntityModels.CategoryModel
@model List<CategoryViewModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("/Views/Shared/Partials/NavbarPartial/_NavbarPartial.cshtml")

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Datatable</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/slider.css" />
    <link rel="stylesheet" href="/css/sliders.css" />
</head>

<body>

       <!-- Slider Datatable -->

    <div class="container" style="border-width: 5px;">
        <div class="row">
            <div cla">
                <a asp-controller="Category" asp-action="AddCategory" class="btn btn-success"
                    style=" width:8%; float: right; margin-top: 5%; margin-right: 10%;">Yeni Ekle</a>
            </div>
        </div>
        <table class="w75">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Kategori Adı</th>
                    <th class="text-center">Menu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="w-25">
                        <td class="w-25">@item.CategoryId</td>
                        <td class="text-center">@item.CategoryName</td>
                        <td>
                            <div class="d-flex justify-content-center gap-3">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#editModal">Düzenle</button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#confirmDeleteModal">Sil</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

   @await Html.PartialAsync("/Views/Shared/Partials/EditCategoryPartial/_EditCategoryPartial.cshtml")

    <!-- Silme Onay Modalı -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Silme Onayı</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bu öğeyi silmek istediğinize emin misiniz?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Sil</button>
                </div>
            </div>
        </div>
    </div>

</body>
